<footer class="site-footer">
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-text">
          <p>Ilja Goushcha &#8226 General Assembly &#8226 Boston MA</p>
      </div>
    </div>
  </div>
</footer>
