<div class="home_page">
  <h1 class="header">MeetUp Category VS Weather</h1>

  <%= form_tag do %>
    <%= text_field_tag(:city, nil, placeholder: "enter city...") %>
    <span class="state">
      <%= select_tag :state, options_for_select(us_states) %>
    </span>
    <span class="process">
      <%= submit_tag("Process") %>
    </span>
  <% end %>
</div>


