/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFFFE8;
  margin: 8px;
}

div.authentication {
  background-color: #E6B800;
  height: 40px;
}

div.back_button {
  background-color: #E4CD70;
  height: 30px;
  width: 100px;
  float: left;
  margin-top: 5px;
  margin-left: 7px;
  text-align: center;
  padding-top: 12px;
  border-color: wheat;
  border-style: solid;
}

div.back_button:hover {
  background-color: #ECDC9B;
}

div.auth_buttons {
  background-color: #E4CD70;
  height: 30px;
  width: 100px;
  float: right;
  margin-top: 5px;
  margin-right: 7px;
  text-align: center;
  padding-top: 12px;
  border-color: wheat;
  border-style: solid;
}

div.auth_buttons:hover {
  background-color: #ECDC9B;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: cadetblue;

}

div.auth_buttons .a {
  font-family: Helvetica, Arial, sans-serif;
  color: #663300;
}

div.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
